* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f4d04e;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "figtree", sans-serif;
}
main {
  background-color: white;
  width: 23rem;
  height: 33rem;
  display: flex;
  flex-direction: column;
  border: 0.01rem solid rgb(0, 0, 0, 0.3);
  border-radius: 0.9rem;
  box-shadow: 0.8rem 0.6rem 0 black, -0.1rem -0.1rem 0 black;
}
img {
  width: 88%;
  margin: 1rem 1rem 1.3rem 1.4rem;
}
.learning-button {
  border: 0.5rem solid #f4d04e;
  background-color: #f4d04e;
  margin-top: 0.5rem;
  margin-left: 1.4rem;
  width: 20.4%;
  height: 4%;
  border-radius: 0.37rem;
  padding: 0.01rem 0.27rem 1rem;
  font-weight: 850;
  font-size: 0.83rem;
}
.published-date {
  font-size: 0.79rem;
  font-weight: 500;
  padding-left: 1.4rem;
  margin-top: 0.89rem;
}
h1 {
  font-weight: 850;
  font-size: 1.4rem;
  width: 90%;
  padding-left: 1.4rem;
  margin-top: 1rem;
}
h1:hover {
  color: #f4d04e;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.main-paragraph {
  padding-left: 1.4rem;
  margin-top: 1rem;
  width: 90%;
  font-size: 0.91rem;
  line-height: 1.4em;
  opacity: 0.72;
}
.user-picture {
  width: 9.4%;
}
.author {
  display: flex;
}
.author-name {
  font-size: 0.83rem;
  font-weight: 800;
  margin-top: 1.5rem;
}
