* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f4d04e;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "figtree", sans-serif;
}
main {
  background-color: white;
  width: 23rem;
  height: 33rem;
  display: flex;
  flex-direction: column;
  border: 0.01rem solid rgb(0, 0, 0, 0.3);
  border-radius: 3.5%;
  box-shadow: 9px 8px 0 black, -1px -1px 0 black;
}
img {
  width: 85%;
  margin: 7% 3% 1% 7.5%;
  border-radius: 1%;
}
.learningButton {
  border: 8% solid #f4d04e;
  background-color: #f4d04e;
  margin-top: 6%;
  margin-left: 7%;
  width: 21%;
  height: 5%;
  border-radius: 8.5%;
  text-align: center;
  padding-top: 1.4%;
  font-weight: 850;
  font-size: 0.8rem;
}
h4 {
  padding-left: 7%;
  margin-top: 4%;
  font-size: 0.79rem;
  font-weight: 500;
}
h1 {
  font-weight: 850;
  font-size: 1.4rem;
  width: 90%;
  padding-left: 7%;
  margin-top: 5%;
}
h1:hover {
  color: #f4d04e;
  transition: 0.3s ease-in-out;
}
p {
  padding-left: 7%;
  margin-top: 5%;
  width: 90%;
  font-size: 0.91rem;
  line-height: 1.4em;
  opacity: 0.72;
}
.userPicture {
  width: 9.4%;
}
.author {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
h3 {
  font-size: 0.83rem;
  font-weight: 800;
  margin-top: 1rem;
}
